/conda_cheatsheet.pdf
/Digital Buildings- Facility Management (appendix).pdf
/Digital Buildings- Facility Management (Grammarly report).pdf
/Digital Buildings- Facility Management (report).pdf
/Digital Buildings- Facility Management.zip
/Digital Buildings- Fault Detection.code-workspace
/fault_detection.py
/pandas_cheatsheet.pdf